body{
  background-image: url("https://cdn.hipwallpaper.com/i/46/41/FpiCtk.png");
}
  
h1 {
      text-align: center;
    background-color: rgba(9, 236, 28, 0.986);
    color: rgb(0, 17, 255);
  }
  
  form {
    border: 1px solid grey;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: rgba(119, 0, 56, 0.952);
  }
  form input {
    padding: 3px 5px;
    flex-grow: 1;
    margin-right: 12px;
  }
  
  button {
    font-size: 16px;
    background-color: rgb(217, 35, 35);
    color: #fff;
    border-radius: 8px;
    padding: 6px 12px;
  }